body{
    background-image:url(fundo.png), linear-gradient(45deg, rgb(255, 128, 0), rgb(0, 255, 255));
    background-blend-mode:multiply;
}
.div1{
    border-style:solid;
    text-align: center;
    border-color: darkcyan;
    max-width: 500px;
    margin: auto;
    max-height: 500px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    margin-top: 20px;
    margin-bottom: 20px;
}
.div2{
    border-style:solid;
    text-align: center;
    border-color: rgb(255, 147, 5);
    max-width: 1000px;
    margin: auto;
    max-height: 500px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: inset, 20px, 20px, 20px, #3333;

}
.div3{
    border-style:solid;
    text-align: center;
    border-color: rgb(55, 255, 5);
    max-width: 1400px;
    margin: auto;
    max-height: 1000px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    margin-top: 20px;
    margin-bottom: 20px;
}
.caixa{
    background-color: rgba(47, 220, 20, 0.319);
    width: 1320px;
    height: 300px;
}
.caixa2{
    background-color: rgba(20, 220, 183, 0.319);
    width: 1320px;
    height: 300px;
}
.office{
    border-style:solid;
    text-align: center;
    border-color: rgb(255, 147, 5);
    float: left;
    margin:20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.mulher{
    border-style:solid;
    text-align: center;
    border-color: rgb(255, 5, 251);
    float:left;
    margin: 20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.sesi{
    border-style:solid;
    text-align: center;
    border-color: rgb(255, 0, 0);
    float:left;
    margin: 20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.paises{
    border-style:solid;
    text-align: center;
    border-color: rgb(180, 5, 255);
    float: left;
    margin:20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.firstsite{
    border-style:solid;
    text-align: center;
    border-color: rgb(5, 209, 255);
    float: left;
    margin:20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.musical{
    border-style:solid;
    text-align: center;
    border-color: rgb(226, 255, 5);
    float: left;
    margin:20px;
    font-family:sans-serif;
    background-color: rgba(255, 255, 255, 0.449);
    align-items:flex-start;
    height: 230px;
    width: 400px;
}
.titulo{
    font-size: 25px;
    font-style:oblique;
    text-align:center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke:1.5px rgb(255, 255, 255);
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 50%;
}



* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{    
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}