body{
    background-image: url(https://i0.wp.com/www.printmag.com/wp-content/uploads/2021/02/4cbe8d_f1ed2800a49649848102c68fc5a66e53mv2.gif?resize=476%2C280&ssl=1);
    background-attachment: fixed;
}
.index{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    color: black;
    -webkit-text-stroke:1px black;
    border-style:ridge;
    border-color: black;
    background-color: blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(45deg, rgb(255, 134, 134), rgb(255, 200, 123));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.caixa{
    color: black;
    -webkit-text-stroke:1px black;
    border-style:ridge;
    max-width: 800px;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(0, 76, 255, 0.248),rgba(158, 194, 255, 0.358));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    align-items: center;
    margin: 20px;
}
.caixa2{
    color: black;
    -webkit-text-stroke:1px black;
    border-style:ridge;
    width: 600px;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(0, 76, 255, 0.248),rgba(158, 194, 255, 0.358));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin: 20px;
    align-items: center;
}
.powerpoint{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    text-decoration-line:underline;
    color:darkgray;
    border-style:ridge;
    border-color: black;
    background-color: blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(to top,rgb(0, 85, 255),rgb(0, 136, 255));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.titulo{
    color: white;
    -webkit-text-stroke:1px black;
}
.site{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    text-decoration-line:underline;
    color:darkblue;
    border-style:ridge;
    border-color: black;
    background-color: blue;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(45deg,purple, cyan, darkorange, red);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.button{
    padding: 10px 8px;
    width: 500px;
    color:greenyellow;
    background:darkcyan;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.button:hover{
    background:darkgreen;
}


