body {
    background-image: linear-gradient(to right red,blue);
    font-family: 'Courier New', Courier, monospace;
  }
  img {
    width: 33%;
    height: auto;
    float:none; 
    max-width: 235px;
  }
  
  .blur {filter: blur(4px);}
  .brightness {filter: brightness(250%);}
  .contrast {filter: contrast(180%);}
  .grayscale {filter: grayscale(100%);}
  .huerotate {filter: hue-rotate(180deg);}
  .invert {filter: invert(100%);}
  .opacity {filter: opacity(50%);}
  .saturate {filter: saturate(7);}
  .sepia {filter: sepia(100%);}
  .shadow {filter: drop-shadow(8px 8px 10px green);}

  .frutas{
    border-style:ridge;
    border-color: black;
    background-color: blue;
    max-width: 800px;
    background-image: linear-gradient(45deg, purple,darkorange, cyan);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.titulo{
  text-align:center;
  color:white;
  -webkit-text-stroke:1px black;
}