body {
    font-family: 'Courier New', Courier, monospace;
    background-blend-mode: hard-light;
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-abstract-background-with-futuristic-style-use-business-cover-banner_7505-1820.jpg), linear-gradient( rgb(255, 0, 0),rgba(246, 255, 0, 0));
  }
  img {
    width: 50%;
    height: auto;
    float:none; 
    max-width: 500px;
    border-color: black;
    border-style:inherit;
    border-radius: 50;
  }
  .titulo{
text-align: center;
font-size: larger;
  }
  .estilo1{
    font-size: 20px;
    font-family:sans-serif;
    text-align:center;
    color:darkblue;
    border-color: black;
    border-radius:2%;
    border-style: dashed;
    border-color: red;
    background-color: blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0,5);
  }