*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 10px;
}

.logo {
    width: 250px;
    padding: 8px;
    margin: 30px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    background-color: #EDF3FB;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding: 40px 60px 20px 60px;
    text-align: left;
}


.form input, select{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border:0;
    margin-bottom: 30px;
}


.form input[type="submit"]{
    background-color: #0f79af;
    color: #f0f0f0;
}

.criar{
    margin-bottom: 20px;
    margin-right: 50px;

}